*{
    margin: 0;
    padding: 0;
}

body{ 
   background-image: url(/images/sun1.jpg);
   background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.header{
    width: 100%;
    position: fixed;
}

.headerbar{
    height: 10%;
    background-color:rgba(16, 2, 63, 0.4);
    color: rgba(255, 204, 0,0.5);
    padding: 3px;
    text-align: center;
    font-family: courier;
    font-size: 1.6em; 
}



/*
.headerbar a{
  text-decoration: none;
    color: purple;
    font-weight: bold;
}
*/

.headerbar a{
  text-decoration: none;
    color: rgba(77, 0, 153,0.8);
}


.headerbar a:hover{
    background-color: grey;
    color: gold;
}



.nav
{ width: 80%; 
    float: left;
}

.nav ul
{ margin-left: 0;
  padding:3px;
  
  
}

.nav ul li{
    list-style: none;
  margin-top: 2px;
  display: inline; 
}

   

.nav ul li a
{ display: block;
  padding: 10px;
  color: purple; 
  font-family:sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  background-color:rgba(16, 2, 63, 0.6);
  display: inline-block; 
  border: 1px solid rgba(16, 2, 63, 0.8);

}

.nav ul li a:hover
{   background-color: dimgray;
    color: white;
}



/*
.container{
    display: flex;
    flex-direction: row;
    margin: auto;
    left: 12%;
    padding-top: 10%;
}
*/



.projects{
    flex: 60%;
    color: beige;
    font-size: 1.2em;
    padding-left: 5%;
    margin-top: 130px;
}

.projects ul li a{
    font-style: italic;
    color: red;
}

.projects ul li a:hover{
    background-color:lightgray;
}

.projects ul li a:visited{
    color: grey;
}


.projects ul li{
    list-style-type: square;
    padding: 3px;
}


.itskills{ 
        margin-top: 130px;

    flex: 40%;
  color: beige;
}

.itskills ul li{
    list-style-type:none;
    padding: 2px;
   
    
}




/******************************************************************/
@media only screen and (max-width: 600px){
    
    .nav{ 
    width: 100%; 
    float: left;
}
    
.nav ul li{
    list-style: none;
    margin-right: 5px;
}
    
    .nav ul li a
{ display: inline;
    padding: 5px;
}
    
.projects{
    flex: 100%;
    color: beige;
    flex-wrap: wrap;
    font-size: 1.2em;
    padding-left: 2%;
}
    
 .itskills{
    flex: 100%;
    color: beige;
    font-size: 1.2em;
    padding-left: 2%;
     margin-top: 0;
}
    
    
}









