
.it-content{
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: auto;
    /*overflow: hidden;*/

}

.itskills h2{
    color: #e0e0e0;
    text-align: center;
}


.itskills{
    margin: auto;
    display: flex;
    flex-direction: column;
    color: #e0e0e0;
    width: 60%;
    background-color: inherit;
}

.skill-item{
    display: inline-flex;
    color: #ececec;
    background-color: rgba(111, 111, 111, 0.55);
    margin: 3px auto;
    width: 100%;
    height: 35px;
}

.skill{
    width: 130px;
    min-width: max-content;
    /*background-color: #1e6cb6;*/
    background-color: lightseagreen;
    height: 35px;
    padding-top: 5px;
    text-align: center;
}


.barholder{
    width: 80%;
}

.progress-bar{
    background-color: #27d3ca;
    color: #373737;
    font-weight: bold;
    height: 35px;
    padding: 5px;
    text-align: right;
}




/******************************************************************/
@media only screen and (max-width: 1024px){

    .itskills{
        width: 80%;
        padding: 5px;
        overflow: hidden;
    }

    
}


@media only screen and (max-width: 768px){

    .itskills{
        width: 100%;
        padding: 5px;
        overflow: hidden;
    }

    .itskills h2{
        font-size: 1.8em;
    }

}








