*{
    margin: 0;
    padding: 0;
}

body{ 
   background-image: url(/images/6.png);
   background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.header{
    width: 100%;
    position: fixed;
}

.headerbar{
    height: 10%;
    background-color:rgba(16, 2, 63, 0.6);
    color: rgba(255, 204, 0,0.5);
    padding: 3px;
    text-align: center;
    font-family: courier;
    font-size: 1.6em; 
}

.headerbar a{
  text-decoration: none;
    color: purple;
    font-weight: bold;
}

.headerbar a:hover{
    background-color: grey;
    color: gold;
}



.nav
{ width: 80%; 
    float: left;
}

.nav ul
{ margin-left: 0;
  padding:3px;
  
  
}

.nav ul li
{ list-style: none;
  margin-top: 2px;
  display: inline; 
}

   

.nav ul li a
{ display: block;
  padding: 10px;
  color: purple; 
  font-family:sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  background-color:rgba(16, 2, 63, 0.6);
  display: inline-block; 
  border: 1px solid rgba(16, 2, 63, 0.8);

}

.nav ul li a:hover
{   background-color: dimgray;
    color: white;
}


.btn {
  background-color: darkblue;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
    position: fixed;
    bottom: 8%;
    right: 5%;
}

.btn:hover {
  background-color: red;
    
}




.container{
    width: 50%;
    display: flex;
    flex-direction: row-reverse;
    margin: auto;
    left: 12%;
    padding-top: 10%;
}

.rightsidebar{
    color: beige;
    flex: 35%;
    border: solid 1px gray;
}

.maincontent{
    flex: 65%;
    padding-left: 2%;
    border: solid 1px gray;

}


h1{ text-align: center;
    padding: 2%;
}

.cvimage{ 
  height: auto;
  width: 30%;
  border: solid lightgrey 1px;
  border-radius: 25px;
    position: relative;
    left: 35%;
}

.contactinfo{  
  text-align: center;
  color:beige;
  margin: 1% 0 3% 0;
}

.socialmedia{
    text-align: center;
    margin: 1% 0 2% 0;
}

.socialmedia a
{ color: purple;
  text-align: center;
  display: inline-block;
  background-color:rgba(16, 2, 63, 0.5);
  font-size: 1.5em;
  margin: 4px;
  border:1px solid;
  background-color:rgba(16, 2, 63, 0.8);
  border-radius: 10%;
  padding: 2px;
  
}

.socialmedia li { 
    list-style-type: none;
  display: inline;
  
}

.socialmedia a:hover
{ background-color: dimgray;
  color: white;
}


.education, .language{ 
    color: beige;
    padding-left: 2%;
}


.education h4{
    padding: 1%;
}


.language ul li{
    list-style-type: none;
    padding: 1px;
}

.lang{
    font-weight: bold;
}


.projects{
  color: beige;
    font-size: 1.2em;
    padding-left: 2%;
}

.projects ul li a{
    font-style: italic;
    color: red;
}

.projects ul li a:hover{
    background-color:lightgray;
}

.projects ul li a:visited{
    color: grey;
}


.projects ul li{
    list-style-type: square;
    padding: 3px;
}


.itskills, .workexperience{ 
  color: beige;
}

.itskills ul li{
    list-style-type:none;
    padding: 2px;
   
    
}













